html{
    color: white;
    cursor: url('cursor.png'), auto;   
} /*This changes what the cursor looks like*/

@font-face{
    font-family: Futura;
    src: url('../fonts/futura.otf');
}

@font-face{
    font-family: Viner ITC;
    src: url('../fonts/VINER-ITC.TTF');
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Head Head Head Head"
    "Left Left Mans Mans"
    "Left Left Mans Mans"
    "Left Left Nazeem Help";
}

header{
    margin:0;
} /*margin fixer*/

p{
    font-family:'Futura';
}

h1 {
    font-family: 'Futura', Courier New, Courier, monospace;
    position: relative;
    text-decoration: underline;
    text-align: center;
}

body{
    background-image: url("../images/backgroundmap.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: absolute;
    display: screen; 
    margin: auto;
    background-color: rgba(0, 0, 0, .75); 
  }

.help{
    grid-area: help;
}
  .header { 
    max-height: 50%;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
    font-size: larger; 
    margin: auto;
    grid-area: "Head";
}

.leftside{
    grid-area: Left;
}

  .Nazeem { 
    background-color: rgba(0, 0, 0, .75);
    text-align: center;
    justify-self: left;
    font-size: larger;
    margin-top: -3.5%;
    position: absolute;
    grid-area: Nazeem;
 }
 
 .Nazeem img{
    width:25vw;
    margin-top:-4%;
    margin-bottom: auto;
 }

  .Classifieds { grid-area: Classifieds; 

    background-color: rgba(0, 0, 0, .75);
}
  .Mansion { 
    background-color: rgba(0, 0, 0, .75);
    text-align: left;
    line-height: 1.5em;
    max-width: 35vw;
    max-height: 100vh;
    margin: 30% 30%;
    grid-area: Mans;
}

.Mansion img{
    width: 25vw;
    height: 25vh;
    padding-left: 10%;
    margin-bottom: -3%;
}